# Unity-specific files
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
*.csproj
*.unityproj
*.sln
*.userprefs

# OS-specific files
.DS_Store
Thumbs.db

# Logs and crash reports
*.log
*.stacktrace

# Large files from Unity builds
AlphaBuildUniversity/**/*.pdb
AlphaBuildUniversity/**/*.ilk
AlphaBuildUniversity/**/*.map
AlphaBuildUniversity/**/*.cache
AlphaBuildUniversity/**/*.resS
